In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob
import os
import seaborn as sns
import scipy
import geopandas as gpd

# Prison Populations

In [ ]:
fn = os.path.join('../../../data/shapefiles/Prison_Boundaries/Prison_Boundaries.shp')

In [ ]:
gdf = gpd.read_file(fn)
gdf['VAL_METHOD']

In [ ]:
print(gdf.columns)

In [ ]:
gdf['VAL_DATE']

In [ ]:
print('how many in tx + fl out of total', (145240+98941)/2032647)

# Figure 1a

In [ ]:
# Check out data for figure 1
fn = os.path.join('../../../figures/wbgtmax/Figure_1a.csv')
fig1 = pd.read_csv(fn)
fig1.head()

In [ ]:
ans = fig1[fig1['Type'] == 'Total']['wbgt_28_pop_mean'].sum()
print(round(ans / 10**6,2),)

In [ ]:
total = fig1[fig1['Type'] == 'Total']['wbgt_28_pop_mean'].sum()
tx_t = fig1[(fig1['STATE'] == 'TX') & (fig1['Type'] == 'Total')]['wbgt_28_pop_mean'].sum()
fl_t = fig1[(fig1['STATE'] == 'FL') & (fig1['Type'] == 'Total')]['wbgt_28_pop_mean'].sum()
tx_s = fig1[(fig1['STATE'] == 'TX') & (fig1['Type'] == 'State')]['wbgt_28_pop_mean'].sum()
fl_s = fig1[(fig1['STATE'] == 'FL') & (fig1['Type'] == 'State')]['wbgt_28_pop_mean'].sum()
print('TX & FL, as pct of Total US exposure', round(tx_t/total*100,2), round(fl_t/total*100,2))
print('TX & FL state prison, as pct of total state exposure', round(tx_s/tx_t*100,2), round(fl_s/tx_t*100,2))

In [ ]:
state_t =  fig1[fig1['Type'] == 'State']['wbgt_28_pop_mean'].sum()
print('state, as pct of Total US exposure', round(state_t/total*100,2), round(state_t/10**6,2))

In [ ]:
state_t =  fig1[fig1['Type'] == 'County']['wbgt_28_pop_mean'].sum()
print('County, as pct of Total US exposure', round(state_t/total*100,2), state_t)

# Figure 1b

In [ ]:
# Check out data for figure 1
fn = os.path.join('../../../figures/wbgtmax/Figure_1b.csv')
fig1 = pd.read_csv(fn)
fig1.head()

In [ ]:
ans = len(fig1[fig1['wbgt_28_2016_2020'] >= 75])
print('How many prisons had 75 days or more?', ans)

In [ ]:
fig1[fig1['wbgt_28_2016_2020'] >= 75].sort_values('wbgt_28_2016_2020', ascending = False)

# Figure 2a

In [3]:
# Check out data for figure 1
fn = os.path.join('../../../figures/wbgtmax/Figure_2a-legacy.csv')
fig2 = pd.read_csv(fn)
fig2.head()

,STATE,state,year,wbgt_26_prison,wbgt_28_prison,wbgt_30_prison,wbgt_35_prison,wbgt_26_state,wbgt_28_state,wbgt_30_state,wbgt_35_state,wbgt_26_diff,wbgt_28_diff,wbgt_30_diff,wbgt_35_diff
0,AL,1,1982,70.452105,11.233553,0.011157,0,67.253255,10.088192,0.000000,0,3.198850,1.145361,0.011157,0
1,AL,1,1983,58.177673,23.848048,1.546614,0,56.221087,21.890994,1.310454,0,1.956586,1.957054,0.236160,0
2,AL,1,1984,52.472951,5.705910,0.000000,0,46.808044,3.940633,0.000000,0,5.664907,1.765277,0.000000,0
3,AL,1,1985,64.822483,11.265462,0.427696,0,60.946918,9.166540,0.342430,0,3.875566,2.098923,0.085266,0
4,AL,1,1986,81.337438,21.959684,1.347251,0,76.131891,19.732537,1.455672,0,5.205547,2.227147,-0.108420,0

### USA

In [4]:
metric = 'wbgt_28'
geo = 'USA'

In [5]:
avg = fig2[fig2['STATE'] == geo][metric+'_diff'].mean()
print('Avg. dif 1981 - 2020 USA:', round(avg, 2))

Avg. dif 1981 - 2020 USA: 5.45

In [6]:
std = fig2[fig2['STATE'] == geo][metric+'_diff'].std()
print('std. dif 1981 - 2020 USA:', round(std,2))

std. dif 1981 - 2020 USA: 1.29

In [7]:
cv = std / avg
print('coef of var. 1981 - 2020 USA:', round(cv,1))

coef of var. 1981 - 2020 USA: 0.2

In [10]:
fig2[fig2['STATE'] == geo].sort_values('wbgt_28_diff', ascending=False)[['year', 'wbgt_28_state', metric+'_diff']].head(5)

      year  wbgt_28_state  wbgt_28_diff
1927  1998      19.716243      9.831185
1939  2010      19.582678      7.594895
1915  1986       9.025702      7.313370
1919  1990      12.042304      7.249265
1912  1983      13.717301      6.953207

In [12]:
fig2[fig2['STATE'] == geo].sort_values('wbgt_28_diff', ascending=True)[['year', 'wbgt_28_state', metric+'_diff']].head(5)

      year  wbgt_28_state  wbgt_28_diff
1923  1994       8.495857      3.474183
1933  2004       7.035522      3.561268
1937  2008       5.756404      3.878505
1936  2007       9.655194      3.907794
1921  1992       6.140706      3.968652

# Figure 2b

In [24]:
# Check out data for figure 1
fn = os.path.join('../../../figures/wbgtmax/Figure_2b.csv')
fig2 = pd.read_csv(fn)
fig2.head()

,prison_id,total_change_wbgt_28,NAME,STATE,STATEFP,COUNTY,CITY,TYPE,POPULATION,CAPACITY,VAL_DATE
0,1,4.8,MIDLAND COUNTY CENTRAL DETENTION CENTER,TX,48,MIDLAND,MIDLAND,COUNTY,438,498,2020/02/27
1,3,3.5,SAN JACINTO COUNTY JAIL,TX,48,SAN JACINTO,COLDSPRING,COUNTY,96,144,2020/03/04
2,4,0.1,YELLOW MEDICINE COUNTY JAIL,MN,27,YELLOW MEDICINE,GRANITE FALLS,COUNTY,27,36,2020/01/02
3,5,0.2,NMJC THIEF RIVER FALLS SATELLITE HOME,MN,27,PENNINGTON,THIEF RIVER FALLS,LOCAL,2,5,2020/01/02
4,6,-1.3,PREBLE COUNTY JAIL,OH,39,PREBLE,EATON,COUNTY,79,70,2020/02/20

In [30]:
for state in states:
    ans = fig2[fig2['STATE'] == state]['total_change_wbgt_28'].mean()
    print('Avg state level change', state, ans)

Avg state level change AL 7.129230769230769
Avg state level change AR 0.6810344827586204
Avg state level change AZ -1.9159090909090912
Avg state level change CA 0.35683760683760685
Avg state level change CO -0.07187500000000001
Avg state level change CT 0.22777777777777775
Avg state level change DC -5.033333333333333
Avg state level change DE -0.13636363636363635
Avg state level change FL 22.13621262458472
Avg state level change GA -0.5493150684931506
Avg state level change IA -1.8074626865671641
Avg state level change ID 0.06842105263157897
Avg state level change IL -2.082178217821782
Avg state level change IN -2.4842105263157896
Avg state level change KS 1.2983050847457627
Avg state level change KY -1.5983739837398374
Avg state level change LA 4.470796460176992
Avg state level change MA 0.20243902439024392
Avg state level change MD -0.5289855072463768
Avg state level change ME -0.10500000000000001
Avg state level change MI -1.1600000000000004
Avg state level change MN -0.7016
Avg state level change MO -3.013636363636364
Avg state level change MS 5.009859154929577
Avg state level change MT -0.5340909090909091
Avg state level change NC 0.4943396226415095
Avg state level change ND -0.41304347826086957
Avg state level change NE -1.2249999999999996
Avg state level change NH 0.15
Avg state level change NJ 0.1480769230769231
Avg state level change NM -0.11764705882352941
Avg state level change NV -0.5718749999999999
Avg state level change NY -0.22847222222222222
Avg state level change OH -0.9092857142857143
Avg state level change OK 9.413793103448278
Avg state level change OR 0.05344827586206895
Avg state level change PA -0.08699186991869917
Avg state level change RI 0.3
Avg state level change SC 1.1280701754385964
Avg state level change SD -1.1900000000000002
Avg state level change TN 0.5518796992481203
Avg state level change TX 6.568126520681266
Avg state level change UT 0.02666666666666666
Avg state level change VA -1.9200000000000002
Avg state level change VT 0.31
Avg state level change WA 0.04878048780487806
Avg state level change WI -0.9797979797979799
Avg state level change WV -0.5186046511627908
Avg state level change WY -0.02666666666666667

### State Level

In [ ]:
fig2.sort_values('wbgt_28_diff', ascending=False)[['STATE','year', metric+'_diff']].head(50);

In [ ]:
fig2.groupby('STATE')['wbgt_28_diff'].mean().sort_values(ascending=False).head(10)

In [ ]:
geo = 'AZ'

In [ ]:
fig2[fig2['STATE'] == geo]['wbgt_28_state'].mean()

In [ ]:
fig2[fig2['STATE'] == geo]['wbgt_28_prison'].mean()

In [ ]:
# dif on avg az
top = 
bottom =

In [ ]:
# GA Prison
geo = 'AZ'
years = list(range(1981, 2019 + 1, 1))
prison = fig2[fig2['STATE'] == geo][metric+'_prison']
data = pd.DataFrame({'x': years, 'y': prison})
plt.bar(data['x'], data['y'])
plt.ylim(0,100)
print(scipy.stats.linregress(data['x'], data['y']))

# GA Average
geo = 'GA'
years = list(range(1981, 2019 + 1, 1))
prison = fig2[fig2['STATE'] == geo][metric+'_state']
data = pd.DataFrame({'x': years, 'y': prison})
plt.bar(data['x'], data['y'])
plt.ylim(0,100)
print(scipy.stats.linregress(data['x'], data['y']))

# prison = fig2[fig2['STATE'] == geo][metric+'_state']
# plt.bar(years, prison)

# plt.ylim(0, 70)
plt.xlabel('Year')
plt.ylabel('Days WBGTmax > 28°C')
plt.legend(labels = ['GA Incarcerated', 'GA Non-incarcerated'])

# Old code

In [ ]:
for geo in np.unique(fig2['STATE']):
    print(geo, len(fig2[fig2['STATE'] == geo]))

In [ ]:
geo = 'AL'
years = list(range(1981, 2019 + 1, 1))
prison = fig2[fig2['STATE'] == geo][metric+'_prison']
data = pd.DataFrame({'x': years, 'y': prison})

sns.regplot(data, x = 'x', y = 'y', fit_reg = True)
plt.ylim(0,100)
print(scipy.stats.linregress(data['x'], data['y']))
c
# prison = fig2[fig2['STATE'] == geo][metric+'_state']
# plt.bar(years, prison)

# plt.ylim(0, 70)