# Data Explore
Cascade Tuholske, May 2023  

Check out the .rds files Robbie sent to up-date the figures for the prison heat paper.

In [3]:
import os
import pandas as pd
import pyreadr
import glob

In [4]:
# data path
path = os.path.join('/Users/t61d992/Desktop/wbgt-prisons/')

In [7]:
# check files
fns = glob.glob(path+ '*')
for fn in fns:
    print(fn)

/Users/t61d992/Desktop/wbgt-prisons/weighted_area_raster_prison_wbgtmax_daily_1982_2020_regression_analysis.rds
/Users/t61d992/Desktop/wbgt-prisons/weighted_area_raster_prison_wbgtmax_daily_1981_2021_over_time.rds
/Users/t61d992/Desktop/wbgt-prisons/weighted_area_raster_prison_wbgtmax_daily_1982_2020.rds
/Users/t61d992/Desktop/wbgt-prisons/weighted_area_raster_prison_wbgtmax_daily_1981_2021_regression_analysis.rds
/Users/t61d992/Desktop/wbgt-prisons/weighted_area_raster_prison_wbgtmax_daily_1981_2021.rds

# Daily Data

In [65]:
data = pyreadr.read_r(fns[4])

odict_keys([None])

In [66]:
df = data[None]

In [70]:
df[df['wbgtmax'] >28]

          prison_id    wbgtmax        date day month    year
617829          316  28.912655  04/04/1981  04    04  1981.0
618077          566  28.918148  04/04/1981  04    04  1981.0
619296         1801  28.264072  04/04/1981  04    04  1981.0
619897         2412  28.903965  04/04/1981  04    04  1981.0
620010         2526  28.903965  04/04/1981  04    04  1981.0
...             ...        ...         ...  ..   ...     ...
99014740       5773  28.634129  29/10/2021  29    10  2021.0
99015183       6216  28.459911  29/10/2021  29    10  2021.0
99015224       6257  28.627514  29/10/2021  29    10  2021.0
99015225       6258  28.634129  29/10/2021  29    10  2021.0
99015227       6260  28.882412  29/10/2021  29    10  2021.0

[3821720 rows x 6 columns]

# Regression Data

In [72]:
data = pyreadr.read_r(fns[3])
df = data[None]
df.head()

,prison_id,wbgt_25_1981,wbgt_28_1981,wbgt_30_1981,wbgt_35_1981,wbgt_25_2021,wbgt_28_2021,wbgt_30_2021,wbgt_35_2021,annual_change_wbgt_25,total_change_wbgt_25,annual_change_wbgt_28,total_change_wbgt_28,annual_change_wbgt_30,total_change_wbgt_30,annual_change_wbgt_35,total_change_wbgt_35
0,1,78.0,4.0,0.0,0.0,78.0,7.0,0.0,0.0,0.213589,8.757143,0.115505,4.735714,-0.005575,-0.228571,0.0,0.0
1,2,79.0,4.0,0.0,0.0,78.0,7.0,0.0,0.0,0.217596,8.921429,0.114286,4.685714,-0.003484,-0.142857,0.0,0.0
2,3,130.0,48.0,0.0,0.0,122.0,65.0,3.0,0.0,0.316551,12.978571,0.135540,5.557143,0.013240,0.542857,0.0,0.0
3,4,13.0,2.0,0.0,0.0,27.0,4.0,1.0,0.0,0.021951,0.900000,0.008362,0.342857,0.005052,0.207143,0.0,0.0
4,5,2.0,0.0,0.0,0.0,11.0,1.0,0.0,0.0,0.016725,0.685714,0.007143,0.292857,0.000000,0.000000,0.0,0.0